@page
@using ContosoCrafts.WebSite.Components
@model DedicatedIndexModel
@{
    ViewData["Title"] = "Index page";
}

<a href="./Product/Create">&nbsp;&nbsp;&nbsp;+ Create</a>

@(await Html.RenderComponentAsync<ProductIndex>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>