@page
@using ContosoCrafts.WebSite.Components
@model DedicatedIndexModel
@{
    ViewData["Title"] = "Index page";
}

<button class="btn btn-light my-2"><a href="./Create">CREATE +</a></button>

@(await Html.RenderComponentAsync<ProductIndex>(RenderMode.ServerPrerendered))
<script src="_framework/blazor.server.js"></script>