@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model DeleteModel

@{
    ViewData["Title"] = "Delete page";
}

<h1>Delete</h1>

<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(x => x.Item.Id)

        <div class="form-group">
            <label asp-for="Item.Title" class="control-label"></label>
            <input asp-for="Item.Title" class="form-control" disabled/>
        </div>

        <div class="form-group">
            <label asp-for="Item.Description" class="control-label"></label>
            <input asp-for="Item.Description" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Item.Url" class="control-label"></label>
            <input asp-for="Item.Url" class="form-control" disabled />
        </div>

        <div class="form-group">
            <label asp-for="Item.Image" class="control-label"></label>
            <input asp-for="Item.Image" class="form-control" disabled />
        </div>

        <h1>Confirm Delete of this item</h1>

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}