@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h2>Main Menu</h2>

<ul>
    <li><a href="/Index">Home</a></li>
    <li><a href="/Register">Register</a></li>
    <li><a href="/Login">Login</a></li>
</ul>

