@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tea King</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary">
            <div class="container">
                <div class="d-flex flex-row w-100">
                    <div class="flex-grow-3 w-50">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">
                            <img 
                                src="https://f9bf67184ceadeacb238.cdn6.editmysite.com/uploads/b/f9bf67184ceadeacb2386854629fe54dccd476753a001dd31f2c20adeae07681/TKOG_LOGO-05_1607796847.png?width=2400&optimize=medium" 
                                alt="Bootstrap" 
                                width="100%" 
                                height="auto"
                            >
                        </a>
                    </div>

                    <ul class="navbar-nav ml-auto flex-row align-items-center">
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" asp-area="" asp-page="/Login">LOGIN</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link text-light" asp-area="" asp-page="/DedicatedIndex">PRODUCTS</a>
                        </li>

                        <li class="nav-item  mx-2">
                            <a class="nav-link text-light" asp-area="" asp-page="/DedicatedIndex">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-column my-2">
                    <p class="fs-6 pb-2">Pickup from 1600 Dexter Avenue North 202</p>
                    <p class="fs-6">Opens at 10:00am M-F</p>
                </div>
            </div>
        </nav>
        <div class="w-100">
            <img src="https://f9bf67184ceadeacb238.cdn6.editmysite.com/uploads/b/f9bf67184ceadeacb2386854629fe54dccd476753a001dd31f2c20adeae07681/2023-02-28_23-55-17_1677657344.jpg?width=400&optimize=medium&height=480&fit=cover&dpr=1.5"
                 width="100%"
                 height="100%" 
            />
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container">
            <p class="h4 my-5">ALWAYS QUALITY TEA, ALWAYS FRESH FRUITS</p>

            <div class="d-flex flex-row flex-grow-3">
                <div class="w-70">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="https://f9bf67184ceadeacb238.cdn6.editmysite.com/uploads/b/f9bf67184ceadeacb2386854629fe54dccd476753a001dd31f2c20adeae07681/TKOG_LOGO-05_1607796847.png?width=2400&optimize=medium"
                             alt="Bootstrap"
                             width="100%"
                             height="auto">
                    </a>
                </div>
                <div class="d-flex flex-column text-align-left ml-5">
                    <p class="mb-2">Stay in the Loop</p>
                    <div class="input-group mb-3" style="width: 80%">
                        <input type="text" class="form-control" placeholder="username" aria-label="BobaUsername" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">Sign up</span>
                        <p class="fw-lighter flex-sm-shrink-4 mt-2">This form is protected by reCAPTCHA and the Google Privacy Policy</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="css/font-awesome/js/all.min.js"></script>

    <script>document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();
                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });</script>

    @RenderSection("Scripts", required: false)
</body>
</html>
