@using ContosoCrafts.WebSite.Services
@inject JsonFileMenuServices MenuService

<nav style="display: flex; flex-wrap: wrap; gap: 10px;">

    @foreach (var category in MenuService.GetCategories())
    {
        <a href="#@category.CategoryName.ToLower().Replace(" ", "-")" style="margin-right: 10px;">@category.CategoryName</a>
    }

</nav>


